.movies {
    display : flex;
    flex-wrap: wrap;
}
img{
    height: 347px;
    width: 219px;
}
.h1{
    color:#1b1717;
    background-color:#CE1212;
    border: 3px solid #810000;
    padding: 10px;
}
button{
    background-color: #CE1212;
    padding-top: 2px;
    padding-bottom: 3px;
    font-family: 'Merienda', cursive;
}
